<h1>New Review</h1>

<%= form_for @review do |r| %>
	<p>
		<%= r.label :reviewer %><br>
		<%= r.text_field :reviewer %>
	</p>

	<p>
		<%= r.label :title %><br>
		<%= r.text_field :title %>
	</p>

	<p>
		<%= r.label :body %><br>
		<%= r.text_area :body %>
	</p>

	<%= r.submit %>

<% end %>